* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 50px;
}

.card__item {
  width: 32%;
  height: 250px;
  overflow: hidden;

  margin-bottom: 20px;

  position: relative;
}

.card__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(61, 88, 66);
}

.card__item.show::before {
  display: none;
}

.img {
  max-width: 100%;
  /* height: 100%; */
  display: block;
}
